@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    --light-green: #4F8E0C;
    --blue: #1598D1;
    --dark-green: #0E4035;
    --dark-blue: #00002B;
    --red: #F23C06;
    --orange: #F89C12;
    --gray: #808080;
    --light-gray: #E9ECEF;
    --white: #ffffff;
}

* {
    font-family: 'Poppins', sans-serif;
}

body,
html {
    width: 100%;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    /* margin: 0 30px; */
    font-size: 12px;
    font-weight: 400;
}


button {
    font-family: 'Product Sans', sans-serif;
    font-weight: 700;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 100px;

    font-size: 12px;
    border: none;
    color: var(--white);
}

nav {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    padding: 24px 10px;
    /* width: 100%; */
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 1rem; */
}

.logo {
    width: 100px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bt-login {
    all: unset;
    font-size: 12px;
    font-family: 'Product Sans', sans-serif;
    font-weight: 700;
    color: var(--blue);

}

.bt-signup {
    max-width: 140px;
    color: var(--white);
    background: linear-gradient(to right, #4F8E0C, #1598D1);
    padding: 8px;
    margin-left: 1rem;
}

section {
    margin: 0 40px;
}

.invoicing {
    height: calc(100vh - (46px + 2rem));
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 4rem; */
}

.invoice-title {
    /* position: absolute; */
    text-align: center;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.invoice-images {
    /* display: none; */
    position: relative;
    display: flex;
    justify-content: center;
    height: 45%;
    margin-top: 40px;
}

.b-title-invoice {
    /* width: 50%; */
    margin: 0;
    color: var(--dark-blue);
    font-weight: 600;
    line-height: 120%;
    font-size: 24px;
}

.images {
    display: none;
}

.images-yellow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #FDC856 0%, #FAA933 100%);
    width: 90%;
    height: 95%;
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(14, 64, 53, 0.16);
}

.yellow-chart {
    position: absolute;
    top: -56px;
    left: -40px;
}

.img-yellow {
    position: absolute;
    /* height: 100%; */
    bottom: 0;
}

.images-pink {
    display: none;
}

.img-pink {
    /* display: none; */
    position: absolute;
    height: 100%;
    bottom: 0;
}

.images-green {
    display: none;
}

.img-green {
    position: absolute;
    bottom: 0;
    height: 100%;
}

.green-chart {
    position: absolute;
    top: -90px;
    left: -70px;
}

.images-light {
    display: none;
}

.img-light {
    height: 100%;
}

.s-title-invoice {
    color: var(--blue);
}

.para-invoice {
    color: var(--gray);
    /* width: 70%; */
    /* margin-bottom: 32px; */
}

.line-invoice {
    height: 1px;
    width: 24px;
    background: var(--blue);
}

.circle-1-invoice {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    margin: 0.1rem;
    background: var(--blue);
}

.get-started.blue {
    background: var(--blue);
    margin: 24px auto;
}

.wallet {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features {
    /* margin-top: 120px; */
    /* height: 100vh; */
    /* display: flex; */
    /* justify-content: center; */
    align-items: start;
    margin-bottom: 5rem;
}

.features-title {
    text-align: center;
    /* width: 20%; */
    /* margin-right: 4rem; */
}

.style-titles.para {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-content: center; */
}

.s-title {
    color: var(--light-green);
    font-weight: 600;
    /* font-size: 12px; */
}

.style-titles {
    display: flex;
    justify-content: center;
    /* margin: 0; */
}

.style-title {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
}

.style-title-list {
    list-style: none;
}

.line {
    height: 1px;
    width: 24px;
    background: var(--light-green);
}

.style-title li:first-of-type {}

.style-title li:nth-of-type(2) {}

.circle-1 {
    background: var(--red);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    margin: 0.1rem;
}

.circle-2 {
    background: var(--light-green);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    margin: 0.1rem;
}

.circle-3 {
    background: var(--orange);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    margin: 0.1rem;
}

.b-title {
    color: var(--dark-blue);
    font-weight: 600;
    line-height: 120%;
    font-size: 24px;
    margin: 0;
}

.text {
    text-align: center;
}

.get-started {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: var(--light-green);
    margin: 24px auto;
    padding: 8px;
}

.arrow-svg {
    background-color: white;
    padding: 4px;
    margin-left: 10px;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50px;
}

.features-right {
    /* width: 80%; */
    text-align: center;
}

.features-right-row {
    /* display: flex; */
    /* min-height: 200px; */
    margin: 0;
    /* padding: 0 2rem; */
}

.five {
    /* width: 50%; */
    /* height: 50%; */
    text-align: start;
}

/* .five.first {
    border-bottom: 0.2px solid var(--light-gray);
}

.five.second {
    border-bottom: 0.2px solid var(--light-gray);
} */

.features-list {
    padding-top: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

}

.left-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.left-title {
    color: var(--light-green);
    font-weight: 500;
    font-size: 16px;
    margin: 8px 0px 0px 12px;
}

.left-para {
    /* margin-bottom: 10px; */
    /* width: 80%; */
    margin: 8px 14px 8px 43px;
    color: var(--gray);
}

.wallet-title {
    width: 50%;
    margin-right: 4rem;
}

.s-title-wallet {
    font-family: 'Product Sans', sans-serif;
    color: var(--dark-green);
    font-weight: 400;
}

.line-wallet {
    height: 1px;
    width: 24px;
    background: var(--dark-green);
}

.circle-2-wallet {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    margin: 0.1rem;
    background: var(--dark-green);
}

.para-wallet {
    color: var(--gray);
    width: 60%;
    margin-bottom: 40px;
}

.get-started.dark {
    background: var(--dark-green);
}

.img-wallet {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 3rem;
    position: relative;
}

.right-img {
    display: flex;
    flex-direction: column;
    /* width: 356px;
    height: 225px; */
    margin-left: 16px;
}

.img-green-wallet {
    margin-bottom: 16px;
}

.my-wallet {
    position: absolute;
    left: 6rem;
    top: 0px;

}

.steps {
    margin: 72px 40px;
    background-image: url('./Images/Group 830.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    border-radius: 12px;

}

/* .steps-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;

} */

.step-title {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.white {
    background-color: var(--white);
    color: var(--dark-green);
}

.white-arrow {
    background-color: var(--dark-green);
}

.step-invoice {
    color: var(--white);
}

.style-title-invoice {
    padding-left: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin:0  0.2rem; */
}

.style-title-invoice li:first-of-type {
    height: 1px;
    width: 24px;
    background: var(--white);
}

.style-titles.step {
    display: flex;
    /* margin-bottom: 32px; */
}

.style-title-invoice li:nth-of-type(2) {
    background: var(--red);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    margin: 0.1rem;
}

.style-title-invoice li:nth-of-type(3) {
    background: var(--white);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    margin: 0.1rem;
}

.style-title-invoice li:nth-of-type(4) {
    background: var(--orange);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    margin: 0.1rem;
}

.step-para {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--white);
    width: 70%;
}

.step-titles {
    /* vertical-align: center; */
    /* width: 20%; */
    color: var(--white);
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.arrows {
    /* display: flex;
    justify-content: flex-end; */
}

.arrow-svg-step {
    background-color: white;
    padding: 4px;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50px;
}

.arrow-svg-step:hover {
    /* background-color: var(--gray); */
}

.step-images {
    display: none;
}

.create-step {
    /* padding: 12px; */
    height: 100%;
    /* margin-bottom: 48px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.step-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.steps-text {
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    justify-content: center;
}

.step-h1 {
    margin: 0 10px;
    color: var(--white);
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    /* width: 80%; */
}

.span-step {
    margin: 0;
    font-weight: 600;
    color: var(--light-green);
    font-size: 30px;
}

.m-0 {
    transform: rotate(180deg);
    margin-left: 0;
}

/* responsive */
@media (min-width: 50rem) {
    .steps {
        position: relative;
    }

    .create-step {
        flex-direction: column;
        justify-content: space-around;
        margin: 0 50px;
    }

    .step-top {
        flex-direction: row;
        justify-content: space-between;
    }


    .step-text-top {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .step-para {
        display: flex;
        /* justify-content: space-between; */
        text-align: start;
        color: var(--white);
        width: 25%;
    }

    .steps-text {
        justify-content: flex-start;
    }

    .step-h1 {
        width: 20%;
    }

    .step-images {
        display: block;
        /* width: 50%; */
        /* position: relative; */
        /* height: 100%; */
    }

    .step-img {

        width: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 100%;
    }

    .step-bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

    }

    .b-title-invoice,
    .b-title {
        /* width: 50%; */
        font-size: 32px;
    }

    body {
        font-family: 'Poppins', sans-serif;
        /* margin: 0 150px; */
        font-size: 14px;
        font-weight: 400;
    }

    nav {

        margin: 0 120px;
        /* width: 100%; */
        /* padding: 24px 20px; */
    }

    .logo {
        width: 100%;
    }

    button {
        width: 160px;
        height: 40px;
        font-size: 14px;
    }

    .bt-signup {
        max-width: none;
        color: var(--white);
        background: linear-gradient(to right, #4F8E0C, #1598D1);
        /* padding: 14px; */
        margin-left: 1rem;
    }

    .bt-login {
        all: unset;
        font-size: 14px;
        font-family: 'Product Sans', sans-serif;
        font-weight: 700;
        color: var(--blue);
    }

    .style-titles {

        justify-content: space-between;
    }

    .invoice-title {
        /* position: absolute; */
        flex-direction: row;
        text-align: start;
        height: 50%;
    }

    .get-started.blue {
        background: var(--blue);
        margin: 24px 0;
    }

    .images {
        width: 40%;
        /* height: 100%; */
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(90deg, #58B4C9 0%, #77C5D8 96.28%);
        border: none;
        border-radius: 10px;
        box-shadow: 4px 4px 10px rgba(14, 64, 53, 0.16);
    }

    .img-blue {
        /* position: absolute;
        max-width: 80%;
        bottom: 0; */
        width: auto;
        height: 100%;
    }

    .images-light {
        display: flex;
        justify-content: center;
        background: linear-gradient(90deg, #FEF974 0%, #FEF64C 100%);
        width: 25%;
        height: 70%;
        border: none;
        border-radius: 10px;
        box-shadow: 4px 4px 10px rgba(14, 64, 53, 0.16);
    }

    .images-green {
        /* display: none; */
        position: relative;
        display: flex;
        justify-content: center;
        background: linear-gradient(141.32deg, #004437 0%, #005544 100%);
        width: 20%;
        height: 90%;
        border: none;
        border-radius: 10px;
        box-shadow: 4px 4px 10px rgba(14, 64, 53, 0.16);
    }

    section {
        margin: 0 120px;
    }

    .invoicing {
        justify-content: space-between;
        height: calc(100vh - (46px + 2rem));
    }

    .invoice-images {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 45%;
    }

    .invoice-title {
        /* position: absolute; */
        /* text-align: center;
        height: 40%;
        display: flex;
        flex-direction: column; */
        justify-content: space-between;

    }

    .features-right-row.top {
        border-bottom: 0.2px solid var(--light-gray);
    }

    .features-right-row {
        display: flex;
        /* min-height: 200px; */
        /* margin: 0; */
        padding: 0 2rem;
    }

    .five {
        margin-left: 16px;
        width: 50%;
        /* height: 50%; */
        /* text-align: start; */
    }

    .get-started {
        padding: 12px;
        margin: 24px 0;
        /* background-color: var(--light-green); */
    }

    .text {
        width: 55%;
        text-align: start;
    }

    .features-list {
        padding-top: 24px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }

    .five.first {
        border-right: 0.2px solid var(--light-gray);
    }

    .features {
        margin-top: 120px;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .features-title {
        text-align: start;
        /* width: 30%; */
        /* margin-right: 4rem; */
    }

    .left-title {
        font-size: 18px;
    }

    .images-yellow {
        width: 24%;
        height: 90%;
    }

    .images-pink {
        /* display: none; */
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background: radial-gradient(50% 50% at 50% 50%, #FAA9B7 0%, #EE95AB 100%);
        width: 30%;
        height: 80%;
        border: none;
        border-radius: 10px;
        box-shadow: 4px 4px 10px rgba(14, 64, 53, 0.16);
    }

    .img-pink {
        /* display: none; */
        position: absolute;
        height: 100%;
        bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    nav {
        margin: 0 60px;
    }

    section {
        margin: 0 60px;
    }

    .images {
        display: none;
    }

    .images-light {
        display: none;
    }

    .invoice-title {
        /* position: absolute; */
        text-align: center;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .features {
        /* margin-top: 120px; */
        height: 70vh;
        /* display: flex; */
        /* justify-content: center; */
        align-items: start;
    }

    .features-right-row {
        flex-direction: column;
        width: 100%;
        /* border: none; */
    }

    .features-right-row.top {
        border-bottom: none;
    }

    .five {
        width: 100%;
    }

    .five.first {
        border-right: none;

    }

    .images-yellow {
        width: 32%;
    }

    .steps-container {
        padding: 0 20px;

    }

    /* .step-images {
        display: none;
    } */

}

@media (max-width: 1390px) {

    .images-light {
        display: none;
    }

    .images-pink {
        width: 40%;
    }

    .invoice-title {
        height: 40%;
        justify-content: space-between;

    }

    .img-pink {
        height: 70%;
    }

    .images-green {
        width: 25%;
    }

    .img-green {
        height: 80%;
        bottom: 0;
    }


}




















/* 
 // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */