@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    --light-green: #4F8E0C;
    --blue: #1598D1;
    --dark-green: #0E4035;
    --dark-blue: #00002B;
    --red: #F23C06;
    --orange: #F89C12;
    --gray: #808080;
    --light-gray: #E9ECEF;
    --white: #ffffff;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 100px;
    font-size: 14px;
    font-weight: 400;
}

button {
    font-family: 'Product Sans', sans-serif;
    font-weight: 700;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    width: 160px;
    height: 40px;
    font-size: 14px;
    border: none;
    color: var(--white);
}

nav {
    width: 100%;
    margin: 0;
}

.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bt-login {
    all: unset;
    font-size: 14px;
    font-family: 'Product Sans', sans-serif;
    font-weight: 700;
    color: var(--blue);

}

.bt-signup {
    color: var(--white);
    background: linear-gradient(to right, #4F8E0C, #1598D1);
    padding: 12px;
    margin-left: 1.5rem;
}

.invoicing {
    height: 100vh;
    display: flex;
    /* justify-content: space-between; */
    margin-top: 5rem;
}

.invoice-title {
    position: absolute;
    height: 45%;
    display: flex;
    justify-content: space-between;

}

.invoice-images {

    display: flex;
    height: 50%;
    /* margin-top: 400px; */
}

/* .text {
    height: 40%;
    width: 0%;
} */

.images {
    position: relative;
    width: 70%;
}

.b-title-invoice {
    width: 50%;
    color: var(--dark-blue);
    font-weight: 600;
    line-height: 120%;
    font-size: 32px;
}

.container-title-invoice {
    width: 60%;
}

.blue-reg {
    width: 800px;
    height: 100%;
    background: linear-gradient(90deg, #58B4C9 0%, #77C5D8 96.28%);
    border: none;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(14, 64, 53, 0.16);
    position: absolute;
}

.img-blue {
    /* position: relative; */
    /* bottom: rem; */
    height: 100%;
}

.s-title-invoice {
    color: var(--blue);
}

.para-invoice {
    color: var(--gray);
    width: 70%;
    margin-bottom: 32px;
}

.line-invoice {
    height: 1px;
    width: 24px;
    background: var(--blue);
}

.circle-1-invoice {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    margin: 0.1rem;
    background: var(--blue);
}

.get-started.blue {
    background: var(--blue);
}


.features,
.wallet {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-title {
    width: 20%;
    margin-right: 4rem;
}

.style-titles {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.s-title {
    color: var(--light-green);
    font-weight: 400;
}

.style-title {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
}

.style-title-list {
    list-style: none;
}

.line {
    height: 1px;
    width: 24px;
    background: var(--light-green);
}

.style-title li:first-of-type {}

.style-title li:nth-of-type(2) {}

.circle-1 {
    background: var(--red);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    margin: 0.1rem;
}

.circle-2 {
    background: var(--light-green);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    margin: 0.1rem;
}

.circle-3 {
    background: var(--orange);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    margin: 0.1rem;
}

.container-title {
    width: 16rem;
}

.b-title {
    color: var(--dark-blue);
    font-weight: 600;
    line-height: 120%;
    font-size: 32px;
}

.get-started {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--light-green);
}

.arrow-svg {
    background-color: white;
    padding: 4px;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50px;
}

.features-right {
    width: 80%;
}

.features-right-row {
    display: flex;
    min-height: 200px;
    padding: 0 2rem;
}

.features-right-row.top {
    border-bottom: 0.2px solid var(--light-gray);
}

.five {
    width: 50%;
    /* height: 50%; */
}

.five.first {
    border-right: 0.2px solid var(--light-gray);
}

.five.second {
    padding-left: 12px;
}

.features-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

}

.left-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

/* svg {
    margin-right: 1rem;
} */

.left-title {
    color: var(--light-green);
    font-weight: 500;
    font-size: 18px;
    margin-left: 12px;
}

.left-para {
    width: 80%;
    margin-left: 43px;
    color: var(--gray);
}

.wallet-title {
    width: 50%;
    margin-right: 4rem;
}

.s-title-wallet {
    font-family: 'Product Sans', sans-serif;
    color: var(--dark-green);
    font-weight: 400;
}

.line-wallet {
    height: 1px;
    width: 24px;
    background: var(--dark-green);
}

.circle-2-wallet {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50px;
    margin: 0.1rem;
    background: var(--dark-green);
}

.para-wallet {
    color: var(--gray);
    width: 60%;
    margin-bottom: 40px;
}

.get-started.dark {
    background: var(--dark-green);
}

.img-wallet {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 3rem;
    position: relative;
}

.right-img {
    display: flex;
    flex-direction: column;
    /* width: 356px;
    height: 225px; */
    margin-left: 16px;
}

.img-green {
    margin-bottom: 16px;
}

.my-wallet {
    position: absolute;
    left: 6rem;
    top: 0px;

}